$blue: rgba(14, 73, 181, 0.8);

.logo-cart{
	display: flex;
	justify-content: space-between;
	background-color: white;
	
	.cart{
		.circle{
			border-radius: 50%;
			border: 2px solid black;
			padding: 8px;
		}
	}
}

.logo,
.cart{
	cursor: pointer;
}

.banner{
	height: 500px;
	position: relative;
	margin-bottom: 40px;
	
	&__inner-wrapper{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:  translate(-50%, -50%);
	}
	&__title{
		margin: 10px 0;
		font-size: 72px;
		line-height: 84px;
		font-weight: normal;
	}
	&__button{
		text-align: center;
	}
}

.icon-search{
	cursor: pointer;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin: 20px 5px;
	.search{
		&__input{
			border: none;
			outline: none;
		}
	}
}
.navigation{
	&__icon{
		color: white;
		background-color: $blue;
		border-radius: 25px;
		padding: 8px;
		cursor: pointer;
		&:hover{
			background-color: rgba(16, 34, 67, 1);
		}
	}
}