.main{
	@media (min-width: 670px) {
		display: flex;
		justify-content: space-between;
	}

	&__filter{
		@media (min-width: 670px) {
			flex-basis: 30%;
		}
		@media (min-width: 1200px) {
			flex-basis: 25%;
		}
	}
	&__cards{
		@media (min-width: 670px) {
			display: flex;
			flex-wrap: wrap;
			flex-basis: 70%;
		}
		@media (min-width: 1200px) {
			flex-basis: 75%;
		}
	}
}

.filter{
	
	&__title{
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;
	}
	&__fields{
		padding: 10px 5px;
		display: flex;
		flex-wrap: wrap;
		
	}
	&__item{
		flex-basis: 30%;
		padding: 5px;
	}
}
.card-wrapper{
		@media (min-width: 750px) {
			flex-basis: 50%;
		}
		@media (min-width: 1200px) {
			flex-basis: calc(100% /3);
		}
	}
.card{
	overflow: hidden;
	&__img-wrapper{
		text-align: center;
		margin-top: -20px;
	}
	&__img{
		width: 50%;
	}
	&__is-instock{
		padding-top: 15px;
		display: flex;
		align-items: center;
	}
	&__price{
		padding: 15px;
	}
	&__top{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		
		.hard-empty{
			align-self: flex-end;
			z-index: 10;
			cursor: pointer;
		}
		.circle{
			border-radius: 50%;
			border: 3px solid rgb(81, 253, 66);
		}
	}
	&__bottom{
		font-size: 14px;
		line-height: 24px;
		padding: 15px;
		background-color: #DAE2EA;
		display: flex;
		justify-content: space-between;
	}
}

	