.button{
	padding: 10px 20px;
	color: darkgray;
	border-radius: 5px;
	border: none;
	
}

.inactive{
	background-color: grey;
}
.active{
	cursor: pointer;
	background-color: rgba(14, 73, 181, 0.8);
	color: white;
	box-shadow: 2px 2px 5px rgba(199, 147, 147, 0.8);
	text-shadow: 2px 2px 3px rgba(63, 62, 62, 0.8);
	transition-duration: .7s;
	&:hover{
		box-shadow: 2px 2px 5px rgba(214, 215, 221, 0.8);
		text-shadow: 2px 2px 3px rgba(62, 62, 63, 0.8);
	}
}