@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/');
  src:  url('../../fonts/#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?480s05') format('truetype'),
    url('../../fonts/icomoon.woff?480s05') format('woff'),
    url('../../fonts/icomoon.svg?480s05#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
  color: rgb(81, 253, 66)
  
}
.icon-close:before {
  content: "\e903";
  color: red;
  font-size: 33px;
}
.icon-filter:before {
  content: "\e904";
  color: #fff;
}
.icon-like_empty:before {
  content: "\e905";
}
.icon-like_filled:before {
  content: "\e906";
  color: red;
}
.icon-search:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
