@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vojb2b');
  src:  url('../fonts/icomoon.eot?vojb2b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vojb2b') format('truetype'),
    url('../fonts/icomoon.woff?vojb2b') format('woff'),
    url('../fonts/icomoon.svg?vojb2b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e908";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\ea0f";
}
